<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Smartguard</title>

    <base href="/" />

    <meta name="color-scheme" content="light" />
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />

    <!--<link rel="shortcut icon" type="image/png" href="<%= BASE_URL %>assets/icon/favicon.png" />-->

    <!-- add to homescreen for ios -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Smartguard" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="assets/css/login.css" />

    <!-- Bootstrap core CSS -->
    <link href="assets/landing/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="assets/landing/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="assets/landing/css/coming-soon.min.css" rel="stylesheet">
</head>

<body>
    <div id="app"></div>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/landing/vendor/jquery/jquery.min.js"></script>
    <script src="assets/landing/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="assets/landing/js/coming-soon.min.js"></script>

    <!--<script-->
    <!--type="module"-->
    <!--src="https://unpkg.com/@ionic/pwa-elements@latest/dist/ionicpwaelements/ionicpwaelements.esm.js"-->
    <!--&gt;</script>-->
    <!--<script-->
    <!--nomodule-->
    <!--src="https://unpkg.com/@ionic/pwa-elements@latest/dist/ionicpwaelements/ionicpwaelements.js"-->
    <!--&gt;</script>-->
</body>

</html>