<template>
    <ion-page>
        <!--<ion-header>-->
        <!--<ion-toolbar>-->
        <!--<ion-title class="text-center">Login</ion-title>-->
        <!--</ion-toolbar>-->
        <!--</ion-header>-->
        <ion-content :fullscreen="true">
            <div class="row justify-content-center">
                <div class="col-sm-12">
                    <div class="login">
                        <div class="log_img">
                            <img src="images/logo.jpg" class="logo">
                            <h3 class="title">Smartguard</h3>
                            <h5 class="text-center">Welcome {{name}}</h5>
                            <p class="text-danger">*You have to change your current password*</p>
                        </div>
                        <div class="container">
                            <form method="post" v-on:submit.prevent="changePassword()" autocomplete="off">
                                <input type="password" class="inputfd" placeholder="Current password" v-model="message.currentpass" id="username" required>
                                <input type="password" class="inputfd" placeholder="New password" v-model="message.password" id="password" required>
                                <input type="password" class="inputfd" placeholder="Confrim password" v-model="message.repass" id="password" required>

                                <button type="submit" class="submit">Update</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="shadow"></div>


        </ion-content>
    </ion-page>
</template>

<script>
    import { IonPage,  IonContent,loadingController ,alertController ,toastController  } from '@ionic/vue';
    export default  {
        name: 'changepassword',
        components: {   IonContent, IonPage },
        data(){
            return {
                proxyUrl: process.env.VUE_APP_API_URL,
                message:{},
                name:'',
                id:'',
            }
        },
        created(){
                this.name=localStorage.getItem('name');
                this.id=localStorage.getItem('id');
                this.phone=localStorage.getItem('phone');
        },
        methods: {
            async changePassword(){
                const loading = await loadingController.create({cssClass: 'my-custom-class', message: 'Please wait...',});
                await loading.present();
                const uri =this.proxyUrl+`changePassword`;
                this.axios.post(uri, this.message,{headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    loading.dismiss();
                    if(response.data.status){
                        this.presentAlert(response.data.message,'Success');
                        this.$router.push({path: '/tabs/home'});
                    }else{
                        this.presentAlert(response.data.message,'Authentication failed');
                    }
                }).catch(error => {
                    loading.dismiss();
                    this.presentAlert('System error','Error');
                });
            },
            async presentAlert(message,header) {
                const alert = await alertController
                    .create({
                        cssClass: 'my-custom-class',
                        header: header,
                        message: message,
                        buttons: ['OK'],
                    });
                return alert.present();
            },
            async openToast(message) {
                const toast = await toastController
                    .create({
                        message: message,
                        duration: 4000
                    })
                return toast.present();
            },
        },
    }

</script>