<template>
    <ion-page>
        <!--<ion-header>-->
        <!--<ion-toolbar>-->
        <!--<ion-title class="text-center">Capture visitor's details</ion-title>-->
        <!--</ion-toolbar>-->
        <!--</ion-header>-->
        <ion-content :fullscreen="true">
            <div class="row justify-content-center">
                <div class="col-sm-12">
            <div class="login">
                <p class="ion-text-center">Input History-select date</p>
                <div class="container">
                <input type="date" class="inputfd" placeholder="Client " v-model="message.date" v-on:change="guardgetreport()">
                </div>
                <ion-item-divider>
                    <ion-label>
                    </ion-label>
                </ion-item-divider>

                <ion-item v-for="data    in report " :key="data.id">
                    <ion-avatar slot="start">
                        <a href="#" class="fa fa-users"></a>
                    </ion-avatar>
                    <ion-label >
                        <h2>{{data.fname}} {{data.mname}} {{data.lname}}</h2>
                        <h6>{{data.phone}}</h6>
                        <h6>{{data.id_no}}</h6>
                        <h6>{{data.temperature}}</h6>
                        <h6>{{data.car_re_no}}</h6>
                        <h6>{{data.department}}</h6>
                        <p>{{data.timein}}</p>
                        <p>{{data.reason}}</p>
                    </ion-label>
                </ion-item>

            </div>
                </div>
            </div>
            <div class="shadow"></div>


        </ion-content>
    </ion-page>
</template>

<script>
    import { IonPage,  IonContent ,alertController,loadingController   } from '@ionic/vue';
    // import { person,key } from 'ionicons/icons';
    export default  {
        name: 'login',
        components: {   IonContent, IonPage },
        data(){
            return {
                proxyUrl: process.env.VUE_APP_API_URL,
                message:{},
                data:{},
                profile:'false',
                password:'false',
                report:[],
            }
        },
        methods: {
            async  guardgetreport() {
                const loading = await loadingController.create({cssClass: 'my-custom-class', message: 'Please wait...',});
                await loading.present();
                const uri = this.proxyUrl + `guard_get_report`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    loading.dismiss();
                    this.report = response.data.report;
                }).catch(error => {
                    loading.dismiss();
                    if (error.response.status === 401) {
                        this.$router.push({path: '/tabs/login'});
                        alert('Please login');
                    } else {
                        this.presentAlert('System unable to complete request','Error');
                    }
                });

            },

            async presentAlert(message,header) {
                const alert = await alertController
                    .create({
                        cssClass: 'my-custom-class',
                        header: header,
                        message: message,
                        buttons: ['OK'],
                    });
                return alert.present();
            },
        },
    }

</script>