<template>
  <ion-page>
    <!--<ion-header>-->
    <!--<ion-toolbar>-->
    <!--<ion-title class="text-center">Home</ion-title>-->
    <!--</ion-toolbar>-->
    <!--</ion-header>-->
    <ion-content :fullscreen="true">

      <div class="overlay">
        <img src="images/slide4.jpg">
      </div>

      <div class="masthead">
        <div class="masthead-bg"></div>
        <div class="container h-100">
          <div class="row h-100">
            <div class="col-12 my-auto">
              <div class="masthead-content text-white py-5 py-md-0">
                <div class="ion-text-center">
                  <h2>HI, WELCOME</h2>
                  <p>{{name}}</p>
                </div>
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-sm-6">


                            <div class="pricing-columns-price text-center">
                              {{message.company_name}}
                            </div>
                          </div>

                            <ul class="list-group list-group-flush">
                              <li class=" ">
                                <i class="title mr-2 fa fa-check-circle " ></i>
                                {{message.client_name}}
                              </li>
                              <li class="">
                                <i class="title mr-2 fa fa-check-circle " ></i>
                                {{message.branch}}
                              </li>
                            </ul>
                          </div>
                          <a  class="card-footer d-flex align-items-center justify-content-between title bg-success-soft text-decoration-none" href="/tabs/input">
                            Get started!
                            <i class="fa fa-arrow-right"></i>
                          </a>



                </div>



              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="social-icons">
        <ul class="list-unstyled text-center mb-0">
          <li class="list-unstyled-item">
            <a  href="/tabs/home">{{message.records}}

            </a>
          </li>

        </ul>
      </div>
      <!-- Pricing column 3-->


    </ion-content>
  </ion-page>
</template>

<script>
  import { IonPage,  IonContent ,alertController   } from '@ionic/vue';
  // import { person,key } from 'ionicons/icons';
  export default  {
    name: 'login',
    components: {   IonContent, IonPage },
    data(){
      return {
        proxyUrl: process.env.VUE_APP_API_URL,
        message:{},
        data:{},
        profile:'false',
        password:'false',
        report:[],
        name:'',
        usertype:'',
        role:'',
        auth:'',
        data3:{},
        data2:[],
        data4:[],
      }
    },
    created(){
      this.name=localStorage.getItem('name');
      this.auth=localStorage.getItem('auth');
      this.usertype=localStorage.getItem('user_type');
      this.role=localStorage.getItem('role');
      // this.guardgetdata();
      this.user();
    },
    methods: {
      guardgetdata(){
        const uri = this.proxyUrl + `guard_get_data`;
        this.axios.get(uri, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
          this.data=response.data.data[0];
          this.data2=response.data.data2;
          this.data4=response.data.data4;
        }).catch(error => {
          if (error.response.status === 401) {
            this.$router.push({path: '/tabs/login'});
            alert('Please login');
          } else {
            this.presentAlert('System unable to complete request',"Error");
          }
        });
      },
      user(){
        const uri =this.proxyUrl+`user`;
        this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
          this.message=response.data.user[0];
        }).catch(error => {
          if (error.response.status === 401) {
            this.$router.push({path: '/tabs/login'});
            alert('Please login');
          }else{
            this.presentAlert('System unable to complete request',"Error");
          }
        });
      },

      async presentAlert(message,header) {
        const alert = await alertController
                .create({
                  cssClass: 'my-custom-class',
                  header: header,
                  message: message,
                  buttons: ['OK'],
                });
        return alert.present();
      },
    },
  }

</script>