<template>
  <ion-page>
    <!--<ion-header>-->
    <!--<ion-toolbar>-->
    <!--<ion-title class="text-center">Capture visitor's details</ion-title>-->
    <!--</ion-toolbar>-->
    <!--</ion-header>-->
    <ion-content :fullscreen="true">
      <div class="row justify-content-center">
        <div class="col-sm-12">
      <div class="login">
        <p class="ion-text-center">Enter visitor detail and press enter</p>
        <ul class="nav nav-pills nav-pills-custom d-flex justify-content-center" id="pills-tab-custom" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" v-on:click="checkQuery('checkin')" id="pills-home-tab-custom" data-toggle="pill" href="#pills-health" role="tab" aria-controls="pills-home" aria-selected="true">
              Check in
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" v-on:click="checkQuery('checkout')" id="pills-profile-tab-custom" data-toggle="pill" href="#pills-career" role="tab" aria-controls="pills-profile" aria-selected="false">
              Check out
            </a>
          </li>

        </ul>
        <form  v-on:submit.prevent="callIPRS()">
          <ion-searchbar  v-on:ionInput="data.keyword=$event.target.value"></ion-searchbar>
          <p class="text-danger text-center text-sm-center" v-if="query==='checkout'">Enter ID no, phone or car reg no</p>
        </form>
        <div class="container">

        <form method="post" v-on:submit.prevent="clientsavedata()" v-if="showpage==='true'">
          <input type="text" class="inputfd" placeholder="First name" v-model="message.fname" >
          <input type="text" class="inputfd" placeholder="Last name" v-model="message.lname" >
          <input type="text" class="inputfd" placeholder="ID " v-model="message.id_no" disabled>
          <input type="text" class="inputfd" placeholder="Phone " v-model="message.phone" >
          <input type="text" class="inputfd" placeholder="Body temperature(if take) " v-model="message.temperature" >
          <input type="text" class="inputfd" placeholder="Car reg no(if available) " v-model="message.car_reg_no" >
          <input type="text" class="inputfd" placeholder="Laptop serial no" v-model="message.laptop" >
          <select class="inputfd"  v-model="message.department_id">
            <option disabled selected="selected">Select department</option>
            <option v-for="data in department" :key="data.id" v-bind:value="data.id">{{data.name}}-{{data.contact_name}}</option>
          </select>
          <input type="text" class="inputfd" placeholder="Purpose for visiting " v-model="message.reason" >
          <button type="submit" class="submit" v-if="query==='checkin' && message.status<=0">Check in</button>
          <button type="submit" class="submit" v-if="query==='checkout' && accessstatus<=0">Check out</button>
        </form>
        </div>
      </div>
        </div>
      </div>
      <div class="shadow"></div>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button  @click="startCamera()">
          <ion-icon :icon="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab>



    </ion-content>
  </ion-page>
</template>

<script>
  import { IonPage,  IonContent ,loadingController,alertController } from '@ionic/vue';
  import {camera} from 'ionicons/icons';
  import { ApiService } from '../composables/usePhotoGallery';
  export default  {
    name: 'input',
    components: {   IonContent, IonPage },
    setup() {
      // const { api } = ApiService();
      return {
        camera
        // takePhoto
      }
    },
    data(){
      return {
        proxyUrl: process.env.VUE_APP_API_URL,
        ocrUrl: process.env.VUE_APP_OCR_URL,
        message:{},
        data:{},
        showpage:'false',
        department:[],
        image:'',
        idno:'',
        name:[],
        id:'',
        pic:'',
        incrementTimer:'',
        query:'checkin',
        isImageReady:'no',
        accessstatus:'',
      }
    },
    created(){
      this.clientgetdepartment();
    },
    methods: {
      checkQuery(query){
        this.query=query;
        this.showpage='false';
        this.data.keyword='';
      },
      async startCamera(){
        ApiService.takePhoto().then(async (res) => {
          this.image=this.dataURItoBlob(res.dataUrl);
          this.pushImage();
         // console.log(this.dataURItoBlob(res.dataUrl))
        });
      },
     async pushImage(){
       const loading = await loadingController.create({cssClass: 'my-custom-class', message: 'Please wait...',});
       await loading.present();
        const formData = new FormData();
        formData.append('imagefile',this.image);
        const uri = this.ocrUrl;
        this.axios.post(uri,formData, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
          loading.dismiss();
          this.idno=response.data.id_no;
          this.name=response.data.name;

              this.data.keyword=this.idno;
              this.message.idno=this.idno;
              this.data.fname=this.name[0];
              this.data.lname=this.name[1];
              this.message.fname=this.name[0];
              this.message.lname=this.name[1];
              this.showpage='true';
            setTimeout(() => {
              this.callIPRS();
            }, 2000);


        }).catch(error => {
          loading.dismiss();
          this.presentAlert('Unable to complete scan, please position the ID well or type manually','Failed')
        });
      },
      // myFunction(value) {
      //   if(value.length===8){
      //     this.id=value;
      //   }
      // },
      async callIPRS(){
        let uri='';
        if(this.query==='checkout'){
          uri = this.proxyUrl + `searchOut`;
        }else{
          uri = this.proxyUrl + `callIPRS`;
        }
        const loading = await loadingController.create({cssClass: 'my-custom-class', message: 'Please wait...',});
        await loading.present();
        this.axios.post(uri,this.data, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
          loading.dismiss();
          if(response.data.status){
            this.message=response.data.data;
            this.accessstatus=response.data.access_status;
            this.showpage='true';
          }else{
            if(response.data.enabled){
              this.presentAlert(response.data.message,'Error');
            }else{
              this.presentAlert(response.data.message,'Error');
            }
          }
        }).catch(error => {
          loading.dismiss();
          if (error.response.status === 401) {
            alert('Please login');
            this.$router.push({path: '/tabs/login'});
          } else {
            this.presentAlert('System error','Error');
          }
        });
      },
      clientgetdepartment(){
        const uri = this.proxyUrl + `client_get_department`;
        this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
          this.department=response.data.department;
        }).catch(error => {
          if (error.response.status === 401) {
            this.$router.push({path: '/tabs/login'});
          } else {
            this.presentAlert('System error','Error');
          }
        });
      },
      async clientsavedata(){
        let uri='';
        if(this.query==='checkout'){
          this.getTimeOut();
           uri = this.proxyUrl + `checkout`;
        }else{
          this.getTimeIn();
           uri = this.proxyUrl + `client_save_data`;
        }
        const loading = await loadingController.create({cssClass: 'my-custom-class', message: 'Please wait...',});
        await loading.present();
        this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
          loading.dismiss();
          if(response.data.status){
            this.presentAlert(response.data.message,"Success");
            this.message={};
            this.data={};
            this.showpage='false';
          }else{
            this.presentAlert(response.data.message,"Error");
          }
        }).catch(error => {
          loading.dismiss();
          if (error.response.status === 401) {
            this.$router.push({path: '/tabs/login'});
            alert('Please login');
          } else {
            this.presentAlert('System error','Error');
          }
        });
      },
      async presentAlert(message,header) {
        const alert = await alertController
                .create({
                  cssClass: 'my-custom-class',
                  header: header,
                  message: message,
                  buttons: ['OK'],
                });
        return alert.present();
      },

      getTimeIn() {
        const today = new Date();
        const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        const dateTime = date+' '+time;
        this.message.timein=dateTime;
      },
      getTimeOut() {
        const today = new Date();
        const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        const dateTime = date+' '+time;
        this.message.timeout=dateTime;
      },
        dataURItoBlob(dataURI){
         const splitDataURI = dataURI.split(',');
         const byteString = splitDataURI[0].indexOf('base64') >= 0 ? atob(splitDataURI[1]) : decodeURI(splitDataURI[1])
         const mimeString = splitDataURI[0].split(':')[1].split(';')[0]

         const ia = new Uint8Array(byteString.length)
         for (let i = 0; i < byteString.length; i++)
           ia[i] = byteString.charCodeAt(i);

         return new Blob([ia], { type: mimeString });
         // const binary = atob(dataURI.split(',')[1]), array = [];
         // for(let i = 0; i < binary.length; i++) array.push(binary.charCodeAt(i));
         // return new Blob([new Uint8Array(array)], {type: 'image/jpeg'});


        // const binary = atob(dataURI);
        // const array = [];
        // for(let i = 0; i < binary.length; i++) {
        //   array.push(binary.charCodeAt(i));
        // }
        // return new Blob([new Uint8Array(array)], {type: 'image/jpeg'});
      },
    },


  }


</script>
