<template>
    <ion-page>
        <!--<ion-header>-->
            <!--<ion-toolbar>-->
                <!--<ion-title class="text-center">Login</ion-title>-->
            <!--</ion-toolbar>-->
        <!--</ion-header>-->
        <ion-content :fullscreen="true">
            <div class="row justify-content-center">
                <div class="col-sm-12">
            <div class="login">
                <div class="log_img">
                    <img src="images/logo.jpg" class="logo">
                    <h3 class="title">Smartguard</h3>
                    <p>Sign in</p>
                </div>
                        <div class="container">
                <form method="post" v-on:submit.prevent="login()" autocomplete="off">
                <input type="text" class="inputfd" placeholder="Email" v-model="message.email" id="username" required>
                <input type="password" class="inputfd" placeholder="Password" v-model="message.password" id="password" required>

                <button type="submit" class="submit">Sign in</button>
                    <a href="/tabs/forget" class="forgot">forgot password?</a>
                </form>
                        </div>

            </div>
                </div>
            </div>
            <div class="shadow"></div>


        </ion-content>
    </ion-page>
</template>

<script>
    import { IonPage,  IonContent,loadingController ,alertController ,toastController  } from '@ionic/vue';
    import { Plugins } from '@capacitor/core';
    const { Geolocation } = Plugins;
    export default  {
        name: 'login',
        components: {   IonContent, IonPage },
        data(){
            return {
                proxyUrl: process.env.VUE_APP_API_URL,
                message:{},
            }
        },
        created(){
            this.getCurrentPosition();
        },
        methods: {
            async getCurrentPosition() {
                Geolocation.getCurrentPosition().then((resp) => {
                    this.message.lat=resp.coords.latitude;
                    this.message.lng=resp.coords.longitude;
                }).catch((error) => {
                    console.log('Error getting location', error);
                });
            },
            async login() {
                const loading = await loadingController.create({cssClass: 'my-custom-class', message: 'Please wait...',});
                await loading.present();
                const uri =this.proxyUrl+`login`;
                this.axios.post(uri, this.message).then((response) => {
                    loading.dismiss();
                    if(response.data.status){
                        localStorage.clear();
                        localStorage.setItem('token', response.data.access_token);
                        localStorage.setItem('name', response.data.user.name);
                        this.message={};
                        if(response.data.user.password_changed==='Yes') {
                            this.$router.push({path: '/tabs/home'});
                            this.openToast('Successfully signed in')

                        }else{
                            this.$router.push({path: '/tabs/changepassword'});
                        }

                    }else{
                        this.presentAlert(response.data.message,'Authentication failed');
                    }
                }).catch(error => {
                    loading.dismiss();
                    this.presentAlert('System error','Error');
                });
            },
            async presentAlert(message,header) {
                const alert = await alertController
                    .create({
                        cssClass: 'my-custom-class',
                        header: header,
                        message: message,
                        buttons: ['OK'],
                    });
                return alert.present();
            },
            async openToast(message) {
                const toast = await toastController
                    .create({
                        message: message,
                        duration: 4000
                    })
                return toast.present();
            },
        },
    }

</script>