<template>
  <ion-page>
    <!--<ion-header>-->
    <!--<ion-toolbar>-->
    <!--<ion-title class="text-center">Capture visitor's details</ion-title>-->
    <!--</ion-toolbar>-->
    <!--</ion-header>-->
    <ion-content :fullscreen="true">
      <div class="row justify-content-center">
        <div class="col-sm-12">
      <div class="login">
        <p class="ion-text-center">Profile</p>
        <div class="row justify-content-center">
          <div class="col-sm-6">
            <ion-item-divider>
              <ion-label>
                <ion-button @click="presentActionSheet">Click to show My profile</ion-button>
              </ion-label>
            </ion-item-divider>
          </div>
        </div>
        <div class="container">

        <form method="post"  v-if="profile==='true'">
          <input type="text" class="inputfd" placeholder="Name" v-model="message.name" >
          <input type="text" class="inputfd" placeholder="Email" v-model="message.email" >
          <input type="text" class="inputfd" placeholder="Phone" v-model="message.phone">
          <input type="text" class="inputfd" placeholder="ID" v-model="message.id_no">
          <input type="text" class="inputfd" placeholder="Role " v-model="message.role" >
          <input type="text" class="inputfd" placeholder="Company " v-model="message.company_name" >
          <input type="text" class="inputfd" placeholder="Client " v-model="message.client_name" >
          <input type="text" class="inputfd" placeholder="Branch" v-model="message.branch" >
        </form>

        <form method="post" v-on:submit.prevent="changePassword()" v-if="password==='true'">
          <input type="password" class="inputfd" placeholder="Current password" v-model="message.currentpass" >
          <input type="password" class="inputfd" placeholder="New password" v-model="message.password" >
          <input type="password" class="inputfd" placeholder="Confirm pssword" v-model="message.repass" >
          <button type="submit" class="submit">Update</button>
        </form>
        </div>
      </div>
        </div>
      </div>
      <div class="shadow"></div>


    </ion-content>
  </ion-page>
</template>

<script>
  import { IonPage,  IonContent ,alertController,actionSheetController,loadingController   } from '@ionic/vue';
  import { person,key } from 'ionicons/icons';
  export default  {
    name: 'login',
    components: {   IonContent, IonPage },
    data(){
      return {
        proxyUrl: process.env.VUE_APP_API_URL,
        message:{},
        data:{},
        profile:'false',
        password:'false',
        department:[],
      }
    },
    created(){
      this.user();
    },
    methods: {
      user(){
        const uri =this.proxyUrl+`user`;
        this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
          this.message=response.data.user[0];
        }).catch(error => {
          if (error.response.status === 401) {
            this.$router.push({path: '/tabs/login'});
            alert('Please login');
          }else{
            this.presentAlert('System unable to complete request','Error');
          }
        });
      },
      async changePassword(){
        const loading = await loadingController.create({cssClass: 'my-custom-class', message: 'Please wait...',});
        await loading.present();
        const uri =this.proxyUrl+`changePassword`;
        this.axios.post(uri, this.message,{headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
          loading.dismiss();
          if(response.data.status){
            this.presentAlert(response.data.message,'Success');
          }else{
            this.presentAlert(response.data.message,'Error');
          }
        }).catch(error => {
          loading.dismiss();
          this.presentAlert('System error','Error');
        });
      },
      async presentActionSheet() {
        const actionSheet = await actionSheetController
                .create({
                  header: 'Select',
                  cssClass: 'my-custom-class',
                  buttons: [
                    {
                      text: 'Profile',
                      role: 'destructive',
                      icon: person,
                      handler: () => {
                       this.profile='true';
                       this.password='false'
                      },
                    },
                    {
                      text: 'Password',
                      icon: key,
                      handler: () => {
                        this.profile='false';
                        this.password='true'
                      },
                    },
                  ],
                });
        return actionSheet.present();
      },
      async presentAlert(message,header) {
        const alert = await alertController
                .create({
                  cssClass: 'my-custom-class',
                  header: header,
                  message: message,
                  buttons: ['OK'],
                });
        return alert.present();
      },
    },
  }

</script>