<template>
    <ion-page>
        <!--<ion-header>-->
        <!--<ion-toolbar>-->
        <!--<ion-title class="text-center">Login</ion-title>-->
        <!--</ion-toolbar>-->
        <!--</ion-header>-->
        <ion-content :fullscreen="true">
            <div class="row justify-content-center">
                <div class="col-sm-12">
                    <div class="login">
                        <div class="log_img">
                            <img src="images/logo.jpg" class="logo">
                            <h3 class="title">Smartguard</h3>
                            <p>Hello <span class="text-success">{{name}}</span>. change password</p>
                        </div>
                        <div class="container">
                            <form method="post" v-on:submit.prevent="setPassword()" autocomplete="off">
                                <input type="text" class="inputfd" placeholder="New password" v-model="message.password" id="username" required>
                                <input type="text" class="inputfd" placeholder="Confirm password" v-model="message.repass" id="username" required>

                                <button type="submit" class="submit">Update</button>
                                <a href="/tabs/login" class="forgot">Back to login?</a>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="shadow"></div>


        </ion-content>
    </ion-page>
</template>

<script>
    import { IonPage,  IonContent,loadingController ,alertController ,toastController  } from '@ionic/vue';
    export default  {
        name: 'login',
        components: {   IonContent, IonPage },
        data(){
            return {
                proxyUrl: process.env.VUE_APP_API_URL,
                message:{},
                name:'',
                id:'',
                phone:'',
            }
        },
        created(){
            this.name=localStorage.getItem('name');
            this.id=localStorage.getItem('id');
            this.phone=localStorage.getItem('phone');
        },
        methods: {
            async setPassword() {
                this.message.id=this.id;
                this.message.phone=this.phone;
                const loading = await loadingController.create({cssClass: 'my-custom-class', message: 'Please wait...',});
                await loading.present();
                const uri =this.proxyUrl+`setPassword`;
                this.axios.post(uri, this.message).then((response) => {
                    loading.dismiss();
                    if(response.data.status){
                        this.presentAlert(response.data.message,'Success');
                        localStorage.clear();
                        this.$router.push({path: '/tabs/login'});
                    }else{
                        this.presentAlert(response.data.message,'Failed');
                    }
                }).catch(error => {
                    loading.dismiss();
                    this.presentAlert('System error','Error');
                });
            },
            async presentAlert(message,header) {
                const alert = await alertController
                    .create({
                        cssClass: 'my-custom-class',
                        header: header,
                        message: message,
                        buttons: ['OK'],
                    });
                return alert.present();
            },
            async openToast(message) {
                const toast = await toastController
                    .create({
                        message: message,
                        duration: 4000
                    })
                return toast.present();
            },
        },
    }

</script>